@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', 20pt sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightskyblue;
}

h1 {
    font-size: 30pt;
    color: rgb(54, 34, 236);
    
}

section{
    margin: 100px 50px;
}
button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(110, 34, 98);
    background-color: rgb(218, 118, 209);
    color: rgb(82, 24, 100);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;

}

#numeroInicial {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 30px;
}
